<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card mt-3">
            <div class="card-body">
                <div class="container text-center">
                    <img style="height: 300px; width: 300px;" class="my_profile_picture" th:src="@{'/img/default_profile_image.png'}" src="" alt="photo">
                </div>

                <h1 class="text-center mt-5">
                    Start Adding Contacts To Your Account
                </h1>
                <div class="container text-center mt-5">
                    <a th:href="@{/user/add-contact}" class="btn bg-primary btn-lg text-white">Get Started</a>
                </div>

                <div class="container mt-5 text-center font-italic text-secondary">
                    <h5>
                        This is the one stop solution to add your contacts to the cloud so that you can check them whenever you want and access them.
                        <p> Now you do not have to remember your personal contacts but you can setup account and add contacts to them.</p>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>